doctype html
html
	head
		link(rel='stylesheet', href='https://bootswatch.com/superhero/bootstrap.min.css')
		link(rel='stylesheet', href='/css/main.css')    
		script(src='https://code.jquery.com/jquery-2.1.4.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/app.js')</b>
		title Showroom connector
	body
		div.container
			div.page-header#banner
				p
				h1#title Welcome !
				p.lead#like